{% load bootstrap3 %}
<html>
  <head>
  <title>login</title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  </head>
<body>
  <div class="container">
      <form class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        {{ form.user_name }}
        <label for="inputPassword" class="sr-only">Password</label>
        {{ form.user_pass }}
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
</body>
</html>